<div id="{{ enhancement.id }}" class="container tab-pane fade{% if forloop.first %} active{% endif %}"><br>
  <h3>{{ enhancement.title }}</h3>
  {% if enhancement.repo_link %}
    <p>The repository for this enhancement is available <a href="{{ enhancement.repo_link }}">here</a>.</p>
  {% endif %}
  {% if enhancement.targeted_enhancements %}
    <h4>Targeted Enhancements:</h4>
    <ul>
      {% for item in enhancement.targeted_enhancements %}
        <li><strong>{{ item.title }}:</strong> {{ item.description }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <h4>Narrative:</h4>
  <p>{{ enhancement.narrative }}</p>
</div>
