<header>
  <style>
    .social-links a {
      margin-left: 10px;
      text-decoration: none;
    }

    .social-links .icon {
      width: 30px;
      height: 30px;
    }

    .social-links a:hover .icon {
      opacity: 0.8;
      transform: scale(1.1);
      transition: transform 0.2s, opacity 0.2s;
    }

    .tagline {
      font-size: 14px;
      color: gray;
      margin-top: -10px;
    }
  </style>
  <div class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <h3>{{ site.title }}</h3>
    </a>
    <div class="social-links">
      <!-- LinkedIn -->
      <a href="https://www.linkedin.com/in/clint-monroe/" target="_blank" title="LinkedIn">
        <img src="{{ site.baseurl }}/assets/icons/linkedin.svg" alt="LinkedIn" class="icon">
      </a>
      <!-- GitHub -->
      <a href="https://github.com/clintmonroe00" target="_blank" title="GitHub">
        <img src="{{ site.baseurl }}/assets/icons/github.svg" alt="GitHub" class="icon">
      </a>
      <!-- Email -->
      <a href="mailto:clintmonroe00@gmail.com" title="Email">
        <img src="{{ site.baseurl }}/assets/icons/email.svg" alt="Email" class="icon">
      </a>
    </div>
  </div>
</header>
