<header>
  <div class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <h1>{{ site.title }}</h1>
      <p class="tagline">Showcasing my journey in Computer Science</p>
    </a>
    <div class="social-links">
      <!-- LinkedIn -->
      <a href="https://www.linkedin.com/in/clint-monroe/" target="_blank" title="LinkedIn">
        <img src="{{ site.baseurl }}/assets/icons/linkedin.svg" alt="LinkedIn" class="icon">
      </a>
      <!-- GitHub -->
      <a href="https://github.com/clintmonroe00" target="_blank" title="GitHub">
        <img src="{{ site.baseurl }}/assets/icons/github.svg" alt="GitHub" class="icon">
      </a>
      <!-- Email -->
      <a href="mailto:clintmonroe00@gmail.com" title="Email">
        <img src="{{ site.baseurl }}/assets/icons/email.svg" alt="Email" class="icon">
      </a>
    </div>
  </div>
</header>
